// TODO: complete this

footer
  color: var(--footer-fg-color)
  background-color: var(--footer-bg-color)

  a[href]
    color: var(--footer-fg-color--light)
    &:hover
      color: var(--footer-fg-color)

  .container
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 100%

// Upper: Navigation
.footer-nav
  padding: 1rem

// Lower: Information!
.footer-info
  padding: 1rem

  background-color: var(--footer-bg-color--dark)

  font-size: 0.8rem
  line-height: 1.3rem


.footer-meta
  color: var(--footer-fg-color--lighter)

  .highlight
    color: var(--footer-fg-color--light)
