.sidebar
  flex: 0 0 15rem
  background: white

.sidebar-scroll
  position: -webkit-sticky
  position: sticky

  top: 3.125rem  // TODO: same-source-of-truth as header's height

.sidebar-content
  padding: 1rem 0.5rem
  font-size: .85rem

  // Lists!
  ul
    list-style-type: none
    margin-top: 0
    padding-left: 0.75rem
  li
    padding-top: 0.7rem
    .current.reference
      font-weight: bold
  // First level shouldn't be indented.
  > ul
    padding-left: 0

  // Links!
  a, a:visited
    color: inherit
    text-decoration: none

  a:hover
    // color: var(--secondary);
    color: purple

.caption
  margin-top: 0.7rem
  margin-bottom: 0
  font-weight: bold

//
// Site Navigation
//
.sidebar-left
  position: fixed
  top: 0
  left: -15rem
  width: 15rem
  min-height: 100vh
  transition: left 250ms

  @include media-breakpoint-up(large)
    position: initial
    top: initial
    left: initial

// Uses an off-canvas sidebar using a checkbox
// with hamburger + overlay as "label"s for the corresponding checkbox
.overlay
  position: fixed
  top: 0
  left: 0
  height: 0
  width: 0
  opacity: 0
  transition: width 0ms, height 0ms, opacity 250ms
  background-color: rgba(0,0,0,.54)

// Changes to reveal-sidebar (restricted to not-desktop sizes)
@include media-breakpoint-down(large)
  #__drawer:checked ~ .sidebar-left
    left: 0
    z-index: 4

  #__drawer:checked ~ .overlay
    z-index: 3
    width: 100%
    height: 100%
    opacity: 1

//
// Table of Contents
//
.sidebar-right
  display: none

  // Hide the "top level" in the right sidebar.
  .sidebar-content > ul > li
    padding-top: 0
    & > ul
      padding-left: 0
    & > a
      display: none

  .scroll-past > a
    opacity: 0.5
  .scroll-current > a
    color: hsla(231, 48%, 48%, 1)

  @include media-breakpoint-up(medium)
    display: initial
    order: 1

// // Hide ".. contents" from documents
// .content .contents
//   display: none
