{# colors

  primary: material color name or hex
  secondary: material color name or hex
  background: "light", "dark", "preference"
  include_css: boolean

#}
{% set color = none %}

{# Fonts

  heading: ...
  prose: ...
  code: ...

#}
{% set font = {
  "heading": "Roboto",
  "prose": "Roboto",
  "code": "Roboto Mono",
} %}
