{# colors

  primary: material color name
  accent: material color name
  background: "light", "dark", "preference"

#}
{% set color = {
  "primary": "indigo",
  "accent": "indigo",
  "background": "light",
} %}

{# Fonts

  heading: ...
  prose: ...
  code: ...

#}
{% set font = {
  "heading": "Roboto",
  "prose": "Roboto",
  "code": "Roboto Mono",
} %}
